<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="miscellaneous.W3svhoolsLinksTest"/>
      <class name="basith301.SeleniumFramework.Practice"/>
      <class name="miscellaneous.Pagination"/>
      <class name="miscellaneous.WegmansSuperMarket"/>
      <class name="miscellaneous.Instacart"/>
      <class name="miscellaneous.Booking"/>
      <class name="miscellaneous.AmazonItemSearchWithStrem"/>
      <class name="basith301.SeleniumFramework.Streams"/>
      <class name="miscellaneous.Table"/>
      <class name="miscellaneous.MiscellaneousTest"/>
      <class name="miscellaneous.CalendarPage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
